html,
body {
    height: 100%;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.post__counter {
    display:inline-block;
    position:absolute;
    right:20px;
    top:27px;
    font-size:12px;
    color:#696969;
}

.about__title {
    display:none;
}

.slider {
    width:100%;
    height:180px;
    margin:0 auto;
    position:relative;
    top:0;
    left:0;
    right:0;
}

.slider__img {
    text-align:center;
    height:180px;
    position:absolute;
    font-size:40px;
    color:#fff;
    display:none;
    padding-top:60px;
}

.slider__img:first-child {
    width:100%;
    background:#ca0f1f;
}

.slider__img:nth-child(2) {
    width:100%;
    background:#0add75;
}

.slider__img:nth-child(3) {
    width:100%;
    background:#0ac4eb;
}

.slider__img:nth-child(4) {
    width:100%;
    background:#fd7edf;
}

.slider__img:nth-child(5) {
    width:100%;
    background:#f99a0c;
}

.slider__img:nth-child(6) {
    width:100%;
    background:#e9e739;
}

.slider__img:nth-child(7) {
    width:100%;
    background:#d83fe9;
}

.slider__img:nth-child(8) {
    width:100%;
    background:#1d77e9;
}

.slider__current-slide {
    display:block;
}

@media screen and (max-width:1199px) {
    .slider__img:first-child {
        padding-top:0;
    }
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

@media screen and (max-width:700px) {
    .header-main-nav {
        margin-bottom: 60px !important;
    }
}

@media screen and (max-width:549px) {
    .header-main-nav {
        margin-bottom: 130px !important;
    }
}

@media screen and (max-width:500px) {
    .blog-posts {
        margin-top: 120px;
        text-align: center;
    }

    #profile-picture {
        display: inline-block;
    }

    .header-top .container {
        text-align: center;
    }

    .page-posts .post-bottom .date-single {
        border:none;
    }

    .post .post-report {
        border:none;
    }

    .
}

@media screen and (max-width:460px) {
    .slider {
        display:none;
    }

    .about__title {
        display:block;
    }

    .page-post .post-title .post__counter {
        display:none;
    }
}

@media screen and (max-width:350px) {
    .page-posts .page-post .post-bottom .post-likes .button-like {
        display:block;
        width:150px;
        margin:15px auto;
    }

    .page-posts .blog-posts {
        margin: 35px 0;
    }
}
